<div class="navbar navbar-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-light-blue-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink=""> <img src="" type="image/png" /> LeadMe </a>
    </div>
    <div class="navbar-collapse collapse navbar-material-light-blue-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"> <a routerLink="/profile"> Meu perfil </a> </li>
        <li routerLinkActive="active"> <a routerLink="/eventos"> Meu curso </a> </li>
        <li routerLinkActive="active"> <a routerLink="/simulations"> Simulações </a> </li>
        <li routerLinkActive="active"> <a routerLink="/login"> Login </a> </li>
      </ul>
    </div>
  </div>
</div>
