<h1 class="header"> Meu Perfil </h1>
<p> Verifique informações sobre seus índices e desempenho acadêmico </p>
<hr/>
  <div class="row">
      <div class="col-sm-4">
        <h4> Disciplinas cursadas </h4>
          <table class="table table-striped table-hover ">
            <thead>
            <tr>
              <th>Disciplina</th>
              <th>CH</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td> PRÁTICAS DE LEITURA E ESCRITA EM PORTUGUÊS I  </td>
              <td>30h</td>
            </tr>
            <tr>
              <td>RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI</td>
              <td>180h</td>
            </tr>
            <tr>
              <td>PRÁTICAS DE LEITURA EM INGLÊS </td>
              <td>30h</td>
            </tr>
            <tr>
              <td> TECNOLOGIA DA INFORMAÇÃO E SOCIEDADE </td>
              <td> 30h</td>
            </tr>
            <tr>
              <td> INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO  </td>
              <td>90h</td>
            </tr>
            <tr> 
              <td> CÁLCULO DIFERENCIAL E INTEGRAL I </td>
              <td> 90h</td>
            </tr>
            <tr>
              <td> FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I </td>
              <td> 90h</td>
            </tr>
            <tr> 
              <td> 	VETORES E GEOMETRIA ANALÍTICA </td>
              <td> 60h</td>
            </tr>        
            </tbody>
          </table>

          <p> Carga Horária Integralizada: 600h </p>
                <p> Faltam 620h </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 60%;"></div>
                </div>
                

      </div>
      <div class="col-sm-8">
          <p> Cursados x Aprovados </p>
      </div>
  </div>

