  <div class="row">
      <div class="col-sm-4">
          <table class="table table-striped table-hover ">
            <thead>
            <tr>
              <th>Disciplina</th>
              <th>CH</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td> PRÁTICAS DE LEITURA E ESCRITA EM PORTUGUÊS I  </td>
              <td>30h</td>
            </tr>
            <tr>
              <td>RESOLUÇÃO DE PROBLEMAS MATEMÁTICOS PARA TI</td>
              <td>180h</td>
            </tr>
            <tr>
              <td>PRÁTICAS DE LEITURA EM INGLÊS </td>
              <td>30h</td>
            </tr>
            <tr>
              <td> TECNOLOGIA DA INFORMAÇÃO E SOCIEDADE </td>
              <td> 30h</td>
            </tr>
            <tr>
              <td> INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO  </td>
              <td>90h</td>
            </tr>
            <tr> 
              <td> CÁLCULO DIFERENCIAL E INTEGRAL I </td>
              <td> 90h</td>
            </tr>
            <tr>
              <td> FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I </td>
              <td> 90h</td>
            </tr>
            <tr> 
              <td> 	VETORES E GEOMETRIA ANALÍTICA </td>
              <td> 60h</td>
            </tr>

            <tr class="info">
              <td> Total </td>
              <td> 600h </td>
            </tr>

            

            </tbody>
          </table>
      </div>
      <div class="col-sm-8">
          <p> teste </p>
      </div>
  </div>

