<h1 class="header"> Simulações </h1>
<p> Simule sua grade do próximo semestre </p>
<p> Clique uma vez em uma disciplina para adicioná-la ou retirá-la da sua grade. </p>
<hr/>
  <div class="row">
      <div class="col-sm-7">
          <h3> Disciplinas disponíveis para você </h3>
          <app-next (messageEvent)="receiveMessage($event)"> </app-next>
      </div>
      <div class="col-sm-5">
          <h3> Sua grade </h3>
          <app-grade [childText]="parentMessage"> </app-grade>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          
      </div>
  </div>
